.cover__container_type_overlay::before {
  content: "";
  position: absolute;
  background: #2A2C2F;
  opacity: 0.3;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.cover__container_type_overlay:hover::before {
  opacity: 0.8;
}
